<div class="main-container">
    <div class="client-welcome-container">
        {{!-- <h1>{{key}}</h1> --}}
        <h1>Client Page</h1>
        <form method="POST">
            <div>Please enter your host key</div>
            <input type='text' name="host-id" data-target="host_id">
            <div>Please enter your name</div>
            <input type='text' name="client-name" data-target="name_id">
            <br>
            <input class="client-submit" type="submit" data-target="connect-to-host" value="Submit">
        </form>
    </div>
</div>
<script src="../javascripts/clientside.js" type="text/javascript"></script>
