<h1>{{title}}</h1>
<h1>{{key}}</h1>
<p>Welcome to the client page</p>

<form method="POST">
    <div>Please enter Host ID</div>
    <input type='text' name="host-id" data-target="host_id">
    <div>Please enter your name</div>
    <input type='text' name="client-name" data-target="name_id">
    <br>
    <input type="button" data-target="connect-to-host" value="Submit">
</form>
<script src="../javascripts/clientside.js" type="text/javascript"></script>