<div class="main-container">
    {{!-- <h1 class="title">Airspace</h1> --}}
    <div class="host-welcome">
        <h1 class="host-title">{{title}}</h1>
        {{!-- <p class="host-welcome">Welcome!</p> --}}
        <p>As a host, this will be your unique key to access your session:</p>
        <h1 class="key">{{key}}</h1>
        <form method= "POST">
            <input class="create-survey" type='submit' value='Create Survey'>
        </form>
    </div>
</div>