<div class="main-container">
    {{!-- <h1 class="title">Airspace</h1> --}}
    <div class="welcome-container host-welcome">
        <h1>{{title}}</h1>
        <p>Host DashBoard</p>
        <p></p>
        <h1 class="key">{{key}}</h1>
    </div>
</div>