<div class="main-container">
    <h1 class="title">Airspace</h1>
    <div class="welcome-container">
        <p>Welcome!</p>
        <p>Please select your user type:</p>
        <div class="user-selection">
            <div class="host-button"><a href='/host/{{uniqueID}}'>Host</a></div>
            <div class="client-button"><a href="/client/">Client</a></div>
        </div>
    </div>
</div>

