<div class="main-container">

    <h1 class="title">Airspace</h1>
    <div class="welcome-container">
        <p>Welcome!</p>
        <p>Please select your user type:</p>
        <div class="user-selection">
            <div class="host-button"><a href='/host/{{uniqueID}}'>Pilot</a></div>
            <div class="client-button"><a href="/client/">Passenger</a></div>
        </div>
    </div>
</div>
<footer><video autoplay loop id=“video-background” muted plays-inline>
    <source src=“https://coverr.co/s3/mp4/Shoes-Stories.mp4” type=“video/mp4”>
</video></footer>
