<div class="main-container">
    <div class="welcome-container">
        <div class="user-selection">
            <a class="btn btn-primary btn-lg" href='/host/{{uniqueID}}'>Host</a>
            <a class="btn btn-primary btn-lg" href="/client/">Guest</a>
        </div>
    </div>
    <div id="about-box"></div>
    <div id="how-box"></div>
    <div id="contact-box"></div>
</div>
{{!-- <footer class="big-video">
    <video autoplay loop id=“video-background” muted plays-inline>
    <source src="/videos/Cloud_Fly_By.mp4" type=“video/mp4”>
</video></footer> --}}
