<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    {{!-- <script src="../javascripts/burger.js"></script> --}}
  </head>
  <body>
        {{!-- <!-- Main Navigation -->
    <nav id="nav" class="nav" role="navigation">
    <div class="nav__container">
        
        <!-- Title -->
        <h1 class="title">AirSpace
        <a href="#" class="nav__title-link"></a>
        </h1>
        
        <!-- Nav List -->
        <ul class="nav__list" role="menubar">
        <li class="nav__item">
            <a href="#" class="nav__link">About</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">How It Works</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact</a>
        </li>
        </ul>
        
        <!-- Burger -->
        <a href="#" class="nav__burger"></a>

    </div> <!-- __container -->
    </nav> <!-- .nav --> --}}

    {{{body}}}
     <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    {{!-- <script src="../../javascripts/burger.js"></script> --}}
  </body>
</html>


