<div class="main-container">
    <h1 class="waiting">Waiting for Survey . . .</h1>
    <div id="about-box"></div>
    <div id="how-box"></div>
    <div id="contact-box"></div>
    <script src="../../javascripts/clientside.js" type="text/javascript"></script>
</div>