<div class="main-container">
    <div class="survey-welcome-container">
        <h1 class="create-title">Create Survey</h1>
        <div class="survey-header">
            <div class="survey-identifier">
                <p>Unique ID</p>
                <div class="survey-key" data-target="uniqueid">{{uniqueid}}</div>
            </div>
            <form class="survey-form" method="POST" data-target="form" >
            <p>Survey Name</p><input class="survey-name" type="text" name="Survey-Name">
            
            <div class="question-list" data-target='question-list'>
                {{!-- <div class="survey-identifier"> --}}
                
                {{!-- </div> --}}
            </div>
        </div>
    <button class="add-question" type="button" data-target="add-question">Add Question</button>
    <div class="survey-submit-div"><input class="survey-submit" type="submit" data-target="submit"></div>
    </form>
    <script src="../../../javascripts/survey-create.js" type='text/javascript'></script>
</div>
