html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  /* color: #00B7FF; */
  color: white;
}


#video-background {
  position: fixed;
  border: 10px solid red;
  z-index: -1;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #191919;
}
.nav__container {
  padding: 0 15px;
}
.nav__title {
  float: left;
  margin: 0;
  height: 60px;
}
.nav__title-link {
  display: flex;
  align-items: center;
  padding-left: 0;
  height: 100%;
  color: #eee;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
}
.nav__title-link:hover {
  color: #eee;
}
.nav__list {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
  background-color: #191919;
  list-style: none;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease-out, height 0ms linear 300ms;
}
.nav__link {
  display: block;
  padding: 15px 0;
  color: #eee;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}
.nav__burger {
  float: right;
  position: relative;
  width: 60px;
  height: 60px;
}
.nav__burger:before, .nav__burger:after {
  content: '';
  position: absolute;
  left: 10px;
  width: 40px;
  height: 4px;
  background-color: #eee;
  transform-origin: 50% 50%;
  transition: transform 275ms ease;
}
.nav__burger:before {
  top: 22px;
}
.nav__burger:after {
  top: 34px;
}

.nav--opened .nav__list {
  height: 100vh;
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.nav--opened .nav__burger:before {
  transform: translate3d(0, 6px, 0) rotate(-45deg);
}
.nav--opened .nav__burger:after {
  transform: translate3d(0, -6px, 0) rotate(45deg);
}


/*Phone*/ 
@media only screen and (min-width : 300px) {  

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    .key, .survey-key {
      border: 1px solid black;
      padding: 20px;
    }

    .survey-key {
      margin-bottom: 30px;
      align-self: flex-start;
    }

    h1.title {
      font-style: italic;
      font-size: 150px;
      letter-spacing: 1px;
    }

    .survey-name {
      width: 100%;
    }

    .survey-form {
      display: flex;
      flex-direction: column;
    }

    .survey-submit,
    .client-submit{
      color: white;
      margin-top: 10%;
      width: 300px;
    }

    h1.create-title {
      font-size: 72px;
    }

    .survey-submit-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    button.add-question {
      background-color: rgba(0,0,0,0.15);
      border-radius: 25px;
      padding: 30px;
      margin: 10%;
    }

    .welcome-container,
    .survey-welcome-container,
    .client-welcome-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* margin-top: 30%; */
      padding: 10%;
      border: 1px solid black;
      font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;      
      box-shadow: 20px 24px 60px 1px rgba(0,0,0,0.15);
    }

    .survey-welcome-container {
      justify-content: space-around;
    }

    .client-welcome-container form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .client-welcome-container form
    input {
      margin: 10%;
    }

    p.host-welcome {
      margin: 10%;
    }

    .host-button, .client-button,
    input {
      display: flex;
      align-items: center;
      justify-content: center;
      /* padding: 5%; */
      background-color:#00B7FF;
      border-radius: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 200px;
   /* }

    .client-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .client-form div {
      margin: 5%;
    }
    

    input {
      width: 80%;
      background-color: rgba(0,0,0,.05); */
    }
    
    .client-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .client-form div {
      margin: 5%;
    }

    input.create-survey {
      width: 400px;
      padding: 10%;
      border-radius: 40px;
      color: white;
    }

    .user-selection {
      margin-top: 5%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

/*Phone*/
@media only screen and (min-width : 300px) and (orientation: landscape) {
  .welcome-container {
    margin-top: 0;
    padding: 50px;
  }

  p {
    margin: 5px;
  }

  h1.title {
    font-style: italic;
    font-size: 50px;
    letter-spacing: 1px;
  }

}

/*Tablet*/
@media only screen and (min-width : 750px) {
  h1.title {
    /* font-size: 4rem; */
  }

  .welcome-container {
    /* margin-top: 15%; */
    /* font: 30px "Lucida Grande", Helvetica, Arial, sans-serif; */
  }
}

/*Tablet*/
@media only screen and (min-width : 750px) and (orientation: landscape) {

  h1.title {
    font-size: 4rem;
  }

  .host-button, .client-button {
    width: 300px;
  }

  .nav__container {
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      height: 100%;
      max-width: 800px;
    }

    .nav__title {
      flex: 1;
      align-self: flex-start;
      float: none;
      height: 100%;
    }

    .nav__list {
      display: flex;
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      opacity: 1;
    }

    .nav__item {
      display: flex;
      align-items: center;
       /* this may be the incorrect size*/
    }

    .nav__link {
      padding: 0 30px;
      transition: color 150ms ease-out;
    
    }

    .nav:hover {
        color: blue;
    }

    .nav__burger {
      display: none;
    }
  

    .welcome-container {
      border: none;
      box-shadow: none;
      /* font-size: 2rem; */
    }
}

/*Desktop*/
@media only screen and (min-width : 1200px) {
  
  h1.title {
    font-size: 5rem;
  }

  .main-container {
    position: relative;
  }

  .welcome-container {
    border: none;
    box-shadow: none;
    font-size: 2rem;
  }


  div.user-selection {
    justify-content: space-between;
  }

  .host-button, .client-button {
    width: 250px;
    margin: 0 50px;
  }
/* 
  footer {
    margin: 0;
    padding: 0;
   Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections 
    background: #333;
    background-attachment: fixed;
    background-size: cover;
  }
  
  The only rule that matters
  #video-background {
   making the video fullscreen 
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: 0;
  
} */

}