html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: Baloo;
  src: url(fonts/Baloo/Baloo-Regular.ttf) format("truetype");
}

body {
  font-family: "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* ----- HAMBURGER MENU --------------------------------------- */

.nav {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* take this fixed position out for host and client page! */
  /* left: 0; */
  /* top: 0; */
  width: 100%;
  height: 100%;
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  padding-top: 9rem;
  width: 100%;
  background-color: #90ce9b;
  font-size: 2rem;
  list-style: none;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease-out, height 0ms linear 300ms;
  display: none;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  margin: 10%;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav__burger {
  margin: 5%;
  right: 10%;
  position: absolute;
  width: 10%;
  height: 10%;
}

.nav__burger:before, .nav__burger:after {
  content: '';
  position: absolute;
  width: 4rem;
  height: .3rem;
  background-color: gray;
  transition: transform 275ms ease;
}


/* add nav--opened to both of following for X to appear */

.nav__burger:before {
  top: 1.5rem;
  /* transform: translate3d(0, 6px, 0) rotate(-45deg); */
}

.nav__burger:after {
  top: 2.1rem;
  /* transform: translate3d(0, -6px, 0) rotate(45deg); */
}
  
.nav--opened .nav__list {
  opacity: 1;
  height: 100%;
  display: unset;
  transition: opacity 300ms ease-out;
}

.nav--no-display {
  display: none;
}

/* ------------------------------------------------------------*/



/*---- VIDEO BACKGROUND ----*/

#video-background {
  display: none;
}
/* ------------------------ */



/*---- MAIN CONTAINER ----*/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* ---------------------- */

/* ------- FRONT PAGE -------------------------*/

h1.title {
  text-align: center;
  font-style: italic;
  font-family: Baloo, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #70a2fd;
  width: 100%;
  align-self: center;
  margin-top: 4rem;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  font-size: 1rem;    
  box-shadow: .5rem .5rem .2rem rgba(0,0,0,0.15);
  width: 70%;
}

.welcome-container p {
  margin: .5rem;
}

.user-selection {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.host-button, .client-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5%; */
  background-color:#70a2fd;
  border-radius: 1.5rem;
  padding: 1rem 1rem;
  margin: 0 1rem;
  width: 12rem;
}

/* ----------------------------------------*/


/* HOST PAGE */
.host-welcome p {
  color: black;
}

.host-title {
  font-size: 2rem;
}

p.host-welcome {
  margin: 10%;
}

input.create-survey {
  width: 10rem;
  padding: 10%;
  border-radius: 3rem;
  color: white;
}

/* ----------*/


/* ------------ CREATE A SURVEY PAGE --------------- */

.key, .survey-key {
  border: 1px solid black;
  padding: 1rem;
  color: black;
}

.survey-key {
  margin-bottom: 30px;
  align-self: flex-start;
}

.survey-name {
  width: 100%;
}

.survey-form {
  display: flex;
  flex-direction: column;
}

.survey-submit,
.client-submit{
  color: white;
  margin-top: 10%;
  width: 300px;
}

h1.create-title {
  font-size: 72px;
}

.survey-submit-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button.add-question {
  background-color: rgba(0,0,0,0.15);
  border-radius: 25px;
  padding: 30px;
  margin: 10%;
}

.survey-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 50%;
  padding: 10%;
  background-color: white;
  border: 1px solid black;
  font-size: 50px;    
  box-shadow: 20px 24px 60px 1px rgba(0,0,0,0.15);
}

/* ------------------------------------------------------*/

/* ------------------ CLIENT PAGE -----------------------*/

.client-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
  padding: 10%;
  background-color: white;
  border: 1px solid black;
  font-size: 50px;    
  box-shadow: 20px 24px 60px 1px rgba(0,0,0,0.15);
}

.client-welcome-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-welcome-container form
input {
  margin: 10%;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5%; */
  background-color:#70a2fd;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
}

.client-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-form div {
  margin: 5%;
}

/* -------------------------------------------------*/

/* ============== PHONE PORTRAIT MEDIA QUERY ========================== */

@media only screen and (min-width : 300px) {

  /*----FRONT PAGE----*/
  h1.title {
    padding-top: 15%;
  }

  .welcome-container {
    font-size: 1.5rem;
    width: 75%;
  }

  p.prompt, .user-selection {
    margin-bottom: 1rem;
  }
  /*-----------------*/

  /*----HAMBURGER MENU----*/
  .nav__container {
    height: 100%;
  }
  .nav__list {
    height: 100%;
    }
}

/* ===================================================================== */


/* Phone
@media only screen and (min-width : 300px) and (orientation: landscape) {
  .welcome-container {
    margin-top: 0;
    padding: 50px;
  }

  p {
    margin: 5px;
  }

  h1.title {
    font-style: italic;
    font-size: 50px;
    letter-spacing: 1px;
  }
} */

/*Tablet*/
@media only screen and (min-width : 750px) {
  #video-background {
    position: fixed;
    z-index: -1;
    display: unset;
  }

  .welcome-container {
    background-color: unset;
    border: hidden;
    box-shadow: unset;
    /* padding-top: 0; */
    /* padding-bottom: 20%; */
  }

  .host-button, .client-button {
    background-color: #5271FF;
  }

  h1.title {
    color: #5271FF;
  }
  
  h1.title {
    /* font-size: 4rem; */
  }

  .welcome-container {
    /* margin-top: 15%; */
    /* font: 30px "Lucida Grande", Helvetica, Arial, sans-serif; */
  }
}

/*Tablet*/
@media only screen and (min-width : 750px) and (orientation: landscape) {

  .nav {
    background-color: #5271FF;
  }

  .welcome-container p {
    text-shadow: 1px 1px 1px #1B3050;
  }

  h1.title {
    /* margin-top: 10%; */
    /* margin-bottom: 0; */
    font-size: 5rem;
    /* margin-left: 5%; */
    color: white;
    margin-top: 0;
    padding: 1rem;
  }

  .host-button,
  .client-button {
    background-color: #5271FF;
  }

  .welcome-container {
    font-size: 40px;
    color: white;
    margin-top: 20%;
  }

  .user-selection {
    margin-top: 7.5%;
  }

  .host-button, .client-button {
    font-size: 30px;
    width: 200px;
  }

  .nav__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      /* margin: 0 auto; */
      width: 100%;
      /* max-width: 800px; */
      padding: 1rem;
    }

    .nav__title {
      flex: 1;
      align-self: flex-start;
      float: none;
      height: 100%;
      color: blue;
      padding: 10%;
    }

    .nav__list {
      display: flex;
      /* width: auto; */
      width: 100%;
      height: auto;
      background-color: transparent;
      opacity: 1;
      /* font-size: 40px; */
      font-size: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }

    .nav__item {
      display: flex;
      align-items: center;
       /* this may be the incorrect size*/
    }

    .nav__link {
      padding: 0 30px;
      transition: color 150ms ease-out;
    
    }

    .nav:hover {
        color: blue;
    }

    .nav__burger {
      display: none;
    }
  

    .welcome-container {
      border: none;
      box-shadow: none;
      /* font-size: 2rem; */
    }
}

/*Desktop*/
@media only screen and (min-width : 1200px) {
  
  /* h1.title {
    font-size: 5rem;
  }

  .main-container {
    position: relative;
  }

  .welcome-container {
    border: none;
    box-shadow: none;
    font-size: 2rem;
  }


  div.user-selection {
    justify-content: space-between;
  }

  .host-button, .client-button {
    width: 250px;
    margin: 0 50px;
  } */
/* 
  footer {
    margin: 0;
    padding: 0;
   Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections 
    background: #333;
    background-attachment: fixed;
    background-size: cover;
  }
  
  The only rule that matters
  #video-background {
   making the video fullscreen 
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: 0;
  
} */

}