html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  /* color: #00B7FF; */
  color: white;
}

/*Phone*/ 
@media only screen and (min-width : 300px) {  

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    .key, .survey-key {
      border: 1px solid black;
      padding: 20px;
    }

    .survey-key {
      margin-bottom: 30px;
      align-self: flex-start;
    }

    h1.title {
      font-style: italic;
      font-size: 150px;
      letter-spacing: 1px;
    }

    .survey-name {
      width: 100%;
    }

    .survey-form {
      display: flex;
      flex-direction: column;
    }

    .survey-submit,
    .client-submit{
      color: white;
      margin-top: 10%;
      width: 300px;
    }

    h1.create-title {
      font-size: 72px;
    }

    .survey-submit-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    button.add-question {
      background-color: rgba(0,0,0,0.15);
      border-radius: 25px;
      padding: 30px;
      margin: 10%;
    }

    .welcome-container,
    .survey-welcome-container,
    .client-welcome-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* margin-top: 30%; */
      padding: 10%;
      border: 1px solid black;
      font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;      
      box-shadow: 20px 24px 60px 1px rgba(0,0,0,0.15);
    }

    .survey-welcome-container {
      justify-content: space-around;
    }

    .client-welcome-container form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .client-welcome-container form
    input {
      margin: 10%;
    }

    p.host-welcome {
      margin: 10%;
    }

    .host-button, .client-button,
    input {
      display: flex;
      align-items: center;
      justify-content: center;
      /* padding: 5%; */
      background-color:#00B7FF;
      border-radius: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 200px;
   /* }

    .client-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .client-form div {
      margin: 5%;
    }
    

    input {
      width: 80%;
      background-color: rgba(0,0,0,.05); */
    }
    
    .client-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .client-form div {
      margin: 5%;
    }

    input.create-survey {
      width: 400px;
      padding: 10%;
      border-radius: 40px;
      color: white;
    }

    .user-selection {
      margin-top: 5%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

/*Phone*/
@media only screen and (min-width : 300px) and (orientation: landscape) {
  .welcome-container {
    margin-top: 0;
    padding: 50px;
  }

  p {
    margin: 5px;
  }

  h1.title {
    font-style: italic;
    font-size: 50px;
    letter-spacing: 1px;
  }

}

/*Tablet*/
@media only screen and (min-width : 750px) {
  h1.title {
    /* font-size: 4rem; */
  }

  .welcome-container {
    /* margin-top: 15%; */
    /* font: 30px "Lucida Grande", Helvetica, Arial, sans-serif; */
  }
}

/*Tablet*/
@media only screen and (min-width : 750px) and (orientation: landscape) {
  .welcome-container {
    /* margin-top: 10%; */
  }
}

/*Desktop*/
@media only screen and (min-width : 1200px) {}